@import url('./__container/popup__container.css');
@import url('./__close-button/popup__close-button.css');
@import url('./__form/popup__form.css');
@import url('./__info/popup__info.css');
@import url('./__heading/popup__heading.css');
@import url('./__field/popup__field.css');
@import url('./__save-button/popup__save-button.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0px;
}