@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000;
  font-family: 'Inter', 'Helvetica', sans-serif;
  color: #fff;
  padding: 0 19px;
}

.page__container {
  max-width: 882px;
  margin: 0 auto;
}
/*
@media screen and (max-width: 1024px) {
  .page__container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}
*/

@media screen and (max-width: 320px) {
  .page__container {
    max-width: 282px;
  }
}

.logo {
  max-width: 173px;
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 126px;
  }
}

.header {
  border-bottom: 1px solid #545454b3;
  padding: 45px 0 41px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 31px;
}

.profile__user-avatar {
  border-radius: 50%;
}

.profile__user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__name-container {
  margin-left: 30px;
}

.profile__user-name {
  margin: 0;
  display: inline-block;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
}

.profile__user-title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button {
  margin-left: 24px;
  padding: 7px;
  border: 1px solid #fff;
}

.profile__add-button {
  padding: 14px 64px;
  border: 2px solid #fff;
}

.photo-grid {}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  padding: 0;
  width: 100%; 
}

@media screen and (max-width: 936px) {
  .photo-grid__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 624px) {
  .photo-grid__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.photo-grid__item {
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
}

.photo-grid__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.photo-grid__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 21px;
}

.photo-grid__title {
  color: #000;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.photo-grid__like {
  background-image: url('../images/heart.svg');
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding: 45px 0 60px;
}

@media screen and (max-width: 624px) {
  .footer {
    padding: 28px 0 36px;
  }
}

.footer__text {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 624px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}

