@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000;
  font-family: 'Inter', 'Helvetica', sans-serif;
  color: #fff;
  padding: 0 19px;
}

.page__container {
  max-width: 882px;
  margin: 0 auto;
}
/*
@media screen and (max-width: 1024px) {
  .page__container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}
*/

@media screen and (max-width: 320px) {
  .page__container {
    max-width: 282px;
  }
}

.logo {
  max-width: 173px;
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 126px;
  }
}

.header {
  border-bottom: 1px solid #545454b3;
  padding: 45px 0 41px;
}

@media screen and (max-width: 624px) {
  .header {
    padding: 28px 0 32px;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 31px;
}

@media screen and (max-width: 840px) {
  .profile {
    flex-direction: column;
    padding-bottom: 16px;
  }
}

.profile__user-avatar {
  border-radius: 50%;
}

.profile__user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 624px) {
  .profile__user-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 840px) {
  .profile__user-container {
    margin-bottom: 36px;
  }
}


.profile__name-container {
  margin-left: 30px;
}


@media screen and (max-width: 624px) {
  .profile__name-container {
    margin-left: 0;
  }
}

.profile__user-name {
  margin: 0;
  display: inline-block;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
}

@media screen and (max-width: 624px) {
  .profile__user-name {
    font-size: 22px;
    line-height: 56px;
  }
}

.profile__user-about {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 624px) {
  .profile__user-about {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__edit-button {
  margin-left: 24px;
  padding: 7px;
  border: 1px solid #fff;
}

@media screen and (max-width: 840px) {
  .profile__edit-button {
    width: 7.5px;
    padding: 5.25px;
    margin-left: 12px;
  }
}

.profile__add-button-container {
  border: 2px solid #fff;
  width: 100%;
  max-width: 150px;
  display: flex;
}

@media screen and (max-width: 840px) {
  .profile__add-button-container {
    max-width: 282px;
  }
}

.profile__add-symbol {
  width: 22px;
  margin: 14px auto;
}

@media screen and (max-width: 840px) {
  .profile__add-symbol {
    width: 16px;
  }
}

.photo-grid {}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  padding: 0;
  width: 100%; 
}

@media screen and (max-width: 936px) {
  .photo-grid__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 624px) {
  .photo-grid__container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.photo-grid__item {
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
}

.photo-grid__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.photo-grid__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 21px;
}

.photo-grid__title {
  color: #000;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.photo-grid__like {
  background-image: url('../images/heart.svg');
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding: 45px 0 60px;
}

@media screen and (max-width: 624px) {
  .footer {
    padding: 28px 0 36px;
  }
}

.footer__text {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 624px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.popup__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  position: relative;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

@media screen and (max-width: 624px) {
  .popup__container {
    width: 70vw;
    padding: 15px;
  }
}

.popup__close-icon {
  position: absolute;
  top: -45px;
  right: -45px;
}

.popup__info {
  padding: 41px 0 31px;
  margin: none;
  border: none;
}

.popup__heading {
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
}

.popup__field {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding: 10px 0;
  margin-bottom: 13px;
}

.popup__button {
  width: 100%;
  background-color: #000;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 2px;
}
